@using TeambuilderLibrary.Extensions
@using TeamBuilder_Website.Services
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@implements IDisposable
@inject AlertService Service

@if (Errors?.Count() > 0)
{
	<p>
		@foreach (var error in Errors)
		{
			<div class="alert-danger">
				@error
			</div>
		}
	</p>
}
@if (Warnings?.Count() > 0)
{
	<p>
		@foreach (var warning in Warnings)
		{
			<div class="alert-warning">
				@warning
			</div>
		}
	</p>
}

@code {
	ReadOnlyObservableCollection<string> Errors = null!;
	ReadOnlyObservableCollection<string> Warnings = null!;

	protected override void OnInitialized()
	{
		Errors = Service.Errors;
		Errors.As<INotifyCollectionChanged>().CollectionChanged += OnCollectionChanged;
		Warnings = Service.Warnings;
		Warnings.As<INotifyCollectionChanged>().CollectionChanged += OnCollectionChanged;
	}

	private void OnCollectionChanged(object? _, NotifyCollectionChangedEventArgs args)
	{
		StateHasChanged();
	}

	public void Dispose()
	{
		Errors.As<INotifyCollectionChanged>().CollectionChanged -= OnCollectionChanged;
		Warnings.As<INotifyCollectionChanged>().CollectionChanged -= OnCollectionChanged;
	}

}
