@using TeamBuilder_Website.Services
@using TeambuilderLibrary.Contracts.Team
@using TeambuilderLibrary.Models
@implements IDisposable
@inject AppState State
@inject ITeamService TeamService
@inject SantaService SantaService

<div class=@CardClass style="display: inline-block">
    @if (PlayerIsInTeam)
    {
        <img class="corner-right" src="images/xmas-hat.jpg" @onclick="PlaySecretSanta" />
    }
    <h5 class="card-header"><span hidden="@(State.CurrentPlayer != TeamToDisplay.Owner)" class="oi oi-x" @onclick="DeleteTeam"></span>@TeamToDisplay.Name</h5>
	<h8 class="card-subtitle">Owner: @TeamToDisplay.Owner.Name</h8>
	<ul class="list-group">
		@foreach (var member in TeamToDisplay.Members)
		{
			@if (member == State.CurrentPlayer)
			{
				<li class="list-group-item oi oi-minus" @onclick="RemoveSelfFromTeam">@member.Name</li>
			}
			else
			{
				<li class="list-group-item">@member.Name</li>
			}
		}
		@if (DisplayJoinSlot)
		{
			<li class="list-group-item oi oi-plus" @onclick="JoinTeam">Join</li>
		}
		@for (int i = 0; i < EmptySlots; i++)
		{
			<li class="list-group-item">empty...</li>
		}
	</ul>
</div>

@code{
    private string CardClass => "card card-body" + (PlayerIsInTeam ? " bg-warning" : "");

    [Parameter]
    public Team TeamToDisplay { get; set; } = null!;

    private int EmptySlots => (DisplayJoinSlot ? 4 : 5) - TeamToDisplay.Members.Count;
    private bool DisplayJoinSlot => TeamToDisplay.Members.Count < 5 && State.IsLoggedIn && !PlayerIsInTeam;
    private bool PlayerIsInTeam => TeamToDisplay.Members.Contains(State.CurrentPlayer!);

    protected override void OnInitialized()
    {
        State.OnLoginStateChanged += StateHasChanged;
    }

    private async Task JoinTeam()
    {
        await TeamService.JoinTeam(TeamToDisplay.Name);
    }

    private async Task RemoveSelfFromTeam()
    {
        await TeamService.LeaveTeam(TeamToDisplay.Name);
    }

    private async void DeleteTeam()
    {
        await TeamService.DeleteTeam(TeamToDisplay.Name);
    }

    private async void PlaySecretSanta()
    {
        await SantaService.SecretSantaInTeam(TeamToDisplay);
    }

	public void Dispose()
	{
		State.OnLoginStateChanged -= StateHasChanged;
	}

}