@page "/"
@using TeamBuilder_Website.Profile
@using TeambuilderLibrary.Contracts.Account
@inject NavigationManager Nav
@inject IAccountService AccountService

<h1>Welcome to Teambuilder</h1>
Time to login.
<br />
<br />
@if (ShowLoginForm)
{
	<LoginForm OnLoggedIn="@GoToProfile" />
}

@code
{
	private bool ShowLoginForm { get; set; }
	protected override async Task OnInitializedAsync()
	{
		if (await AccountService.IsAuthorized(Guid.Empty))
		{
			GoToProfile();
		}
		else
		{
			ShowLoginForm = true;
		}
		await base.OnInitializedAsync();
	}

	private void GoToProfile()
	{
		Nav.NavigateTo("/profile");
	}
}
