@page "/profile"
@using TeamBuilder_Website.Profile
@using TeamBuilder_Website.Services
@using TeambuilderLibrary.Contracts.Account
@using TeambuilderLibrary.Models
@implements IDisposable
@inject AppState State
@inject IAccountService AccountService
@inject NavigationManager Nav

<div class="float-right">
	<LogoutAllButton OnLoggedOut="GoToStart" />
	<LogoutButton OnLoggedOut="GoToStart" />
</div>

@if (player is null)
{
	<h1>Loading profile...</h1>
}
else
{
	<div>
		<span class="h1">@player.Name</span>
		<button class="oi oi-pencil btn btn-light" @onclick="ToggleChangeName" hidden="@changingPlayerName"></button>
		@if (changingPlayerName)
		{
			<span>
				<input type="text" id="new-name" autocomplete="true" placeholder="New Username" @bind-value="@NewUsername" class="d-inline" />
				<button @onclick="@ChangeName" class="oi oi-check btn btn-primary d-inline"></button>
				<label for="new-name" class="text-danger">@nameChangeErrorMessage</label>
			</span>
		}
	</div>

	<div>
		<span class="h2">@player!.Rank</span>
		<button class="oi oi-pencil btn btn-light" @onclick="ToggleChangeRank" hidden="@changingRank"></button>
		@if (changingRank)
		{
			<span>
				<input @bind="@NewRank" id="new-rank" list="ranks" />
				<button @onclick="@ChangeRank" class="oi oi-check btn btn-primary d-inline"></button>
				<label for="new-rank" class="text-danger">@rankChangeErrorMessage</label>
			</span>
			<datalist id="ranks">
				@foreach (var rank in Enum.GetValues<Rank>())
				{
					<option value=@rank></option>
				}
			</datalist>
		}
	</div>

	<img src="images/ranks-cropped/@GetRankImageName" alt="Image @GetRankImageName" />
}


@code {
	private Player? player => AccountService.CurrentPlayer;

	protected override async Task OnInitializedAsync()
	{
		if (!await AccountService.IsAuthorized(Guid.Empty))
		{
			GoToStart();
			return;
		}
		Console.WriteLine($"Current player: {AccountService.CurrentPlayer}");
		State.OnLoginStateChanged += StateHasChanged;
		await base.OnInitializedAsync();
	}

	private void GoToStart()
	{
		Nav.NavigateTo("/");
	}

	public void Dispose()
	{
		State.OnLoginStateChanged -= StateHasChanged;
	}

	#region [ Name ]

	private bool changingPlayerName;
	private void ToggleChangeName()
	{
		changingPlayerName = !changingPlayerName;

	}

	private string NewUsername { get; set; } = null!;
	private string? nameChangeErrorMessage;
	private async Task ChangeName()
	{
		var result = await AccountService.ChangePlayerName(NewUsername);
		if (result.Success)
		{
			State.ChangePlayerName(NewUsername);
			ToggleChangeName();
			NewUsername = "";
			nameChangeErrorMessage = "";
		}
		else
		{
			nameChangeErrorMessage = result.Message;
		}
	}

	#endregion

	#region [ Rank ]

	private bool changingRank;
	private void ToggleChangeRank()
	{
		changingRank = !changingRank;

	}

	private Rank NewRank { get; set; }
	private string? rankChangeErrorMessage;
	private async Task ChangeRank()
	{
		var result = await AccountService.ChangePlayerRank(NewRank);
		if (result.Success)
		{
			State.ChangePlayerRank(NewRank);
			ToggleChangeRank();
			NewRank = Rank.Unranked;
		}
		else
		{
			rankChangeErrorMessage = result.Message;
		}
	}

	private string GetRankImageName => player!.Rank.ToString().ToLower() + ".png";


	#endregion

}
