@page "/teams"
@using TeamBuilder_Website.Teams
@using TeamBuilder_Website.Services
@using TeambuilderLibrary.Contracts.Account
@using TeambuilderLibrary.Contracts.Team
@using TeambuilderLibrary.Extensions
@using TeambuilderLibrary.Models
@implements IDisposable
@inject IAccountService AccountService
@inject ITeamService TeamService
@inject AppState State

<h1>Teams</h1>
<button class="btn-info d-block" @onclick="Refresh" disabled="@refreshing">Refresh</button>

@if (teams.Count <= 0)
{
	<p><em>No teams</em></p>
}
else
{
	@foreach (var team in teams)
	{
		<TeamCard TeamToDisplay="team" />
	}
}
@if (State.IsLoggedIn)
{
	<div disabled="@creatingTeam">
		<input type="text" @bind="NewTeamName" />
		<button class="oi oi-plus" @onclick="CreateTeam" disabled="@NewTeamDisabled">Create team</button>
	</div>
}



@code {
    private IList<Team> teams = new List<Team>();

    protected override async Task OnInitializedAsync()
    {
        // Teams kommen per Event rein, daher im foreach nur warten.
        TeamService.OnNewTeam += AddTeam;
        TeamService.OnPatchTeam += PatchTeam;
        TeamService.OnDeleteTeam += DeleteTeam;
        await foreach (var _ in TeamService.GetAllTeams()) ;
        AccountService.IsAuthorized(Guid.Empty).Forget();
        Console.WriteLine($"/teams Init done. Teams: {teams.Count}");
		await base.OnInitializedAsync();
	}

	private void PatchTeam(string teamName, Team newTeam)
	{
		teams.Single(t => t.Name == teamName).Patch(newTeam);
		StateHasChanged();
	}

	private void AddTeam(Team team)
	{
		teams.Add(team);
		StateHasChanged();
	}

	private bool refreshing;
	private async Task Refresh()
	{
		refreshing = true;
		teams = new List<Team>();
		await foreach (var _ in TeamService.GetAllTeams()) ;
		refreshing = false;
	}

	private bool NewTeamDisabled => string.IsNullOrWhiteSpace(NewTeamName) || creatingTeam;
	private string NewTeamName { get; set; } = "";
	private bool creatingTeam;

	private async Task CreateTeam()
	{
		creatingTeam = true;
		await TeamService.CreateTeam(NewTeamName);
		NewTeamName = "";
		creatingTeam = false;
	}

	private void DeleteTeam(string teamName)
	{
		teams.Remove(teams.Single(t => t.Name == teamName));
		StateHasChanged();
	}

	public void Dispose()
	{
		TeamService.OnNewTeam -= AddTeam;
		TeamService.OnPatchTeam -= PatchTeam;
		TeamService.OnDeleteTeam -= DeleteTeam;
	}
}
