@using TeambuilderLibrary.Contracts.Account
@using TeambuilderLibrary.Models
@using TeamBuilder_Website.Services
@inject IAccountService AccountService
@inject AlertService AlertService

<div class="container">
	@if (!showRegistrationForm)
	{
		<h3>Login</h3>
		<EditForm Model="@loginData" OnValidSubmit="DoLogin">
			<div class="form-group">
				<label for="username">Username:</label>
				<InputText class="form-control" id="username" autocomplete="true" autofocus="" placeholder="Username" @bind-Value="@loginData.Username" />
			</div>

			<div class="form-group">
				<label for="password">Password:</label>
				<InputText class="form-control" id="password" type="password" autocomplete="false" placeholder="Password" @bind-Value="@loginData.Password" />
			</div>
			<div>
				<InputCheckbox id="stay" @bind-Value="loginData.StayLoggedIn" /> <label for="stay">Stay logged in</label>
			</div>
			<button type="submit" class="btn-primary">Login</button>
		</EditForm>
	}
	else
	{
		<h3>Registration</h3>
		<EditForm Model="@registrationData" OnValidSubmit="Register">
			<DataAnnotationsValidator />

			<label for="username">Username:</label>
			<InputText class="form-control" id="username" autocomplete="true" autofocus="" placeholder="Username" @bind-Value="@registrationData.Username" />
			<div><ValidationMessage TValue="string" For="() => registrationData.Username" /></div>

			<label for="password">Password:</label>
			<InputText class="form-control" id="password" type="password" autocomplete="false" placeholder="Password" @bind-Value="@registrationData.Password" />
			<div><ValidationMessage TValue="string" For="() => registrationData.Password" /></div>

			<div>Rank</div>
			<InputSelect TValue="TeambuilderLibrary.Models.Rank" @bind-Value="@registrationData.Rank">
				@foreach (var rank in Enum.GetValues(typeof(Rank)).Cast<Rank>())
				{
					<option>@rank</option>
				}
			</InputSelect>
			<br />
			<button type="submit">Register</button>
		</EditForm>
	}
	<div class="text-danger">@fehlermeldung</div>
</div>
<button type="button" class="btn-info" @onclick="toggleForm">
	@(showRegistrationForm ? "Go to Login" : "Register")
</button>

@code {
	[Parameter] public Action? OnLoggedIn { get; set; }
	[Parameter] public Action? OnRegistered { get; set; }

	private string fehlermeldung = string.Empty;

	private bool showRegistrationForm;
	private void toggleForm()
	{
		showRegistrationForm = !showRegistrationForm;
		fehlermeldung = string.Empty;
	}

	private readonly LoginData loginData = new LoginData();
	private async Task DoLogin()
	{
		Console.WriteLine("Submitted login");
		var loginResult = await AccountService.Login(loginData);
		Console.WriteLine($"Login successful: {loginResult}");
		if (loginResult.Success)
		{
			OnLoggedIn?.Invoke();
		}
		else
		{
			fehlermeldung = loginResult.Message!;
			AlertService.Error(loginResult.Message!);
		}
	}


	private readonly RegistrationData registrationData = new RegistrationData();
	private async Task Register()
	{
		Console.WriteLine("Submitted register");
		var registration = await AccountService.RegisterNewUserAsync(registrationData);
		Console.WriteLine($"Registration successful: {registration}");
		if (registration.Success)
		{
			showRegistrationForm = false;
			OnRegistered?.Invoke();
			StateHasChanged();
		}
		else
		{
			fehlermeldung = registration.Message!;
		}
	}
}
