@using TeambuilderLibrary.Contracts.Account
@using TeamBuilder_Website.Services
@implements IDisposable
@inject IAccountService AccountService
@inject AppState State
@inject NavigationManager Nav

<button disabled="@IsDisabled" @onclick="DoLogout" class="btn-danger"><span class="oi oi-power-standby"></span>Logout all devices</button>

@code {
	[Parameter] public Action? OnLoggedOut { get; set; }

	private bool IsDisabled => !State.IsLoggedIn;

	protected override Task OnInitializedAsync()
	{
		State.OnLoginStateChanged += StateHasChanged;
		return base.OnInitializedAsync();
	}

	public void Dispose()
	{
		State.OnLoginStateChanged -= StateHasChanged;
	}

	private async Task DoLogout()
	{
		Console.WriteLine("Submitted logout");
		await AccountService.LogoutAll();
		OnLoggedOut?.Invoke();
	}
}
