@using TeamBuilder_Website.Alerts
@using TeamBuilder_Website.Services
@inherits LayoutComponentBase
@inject AppState State

<div class="page">
	<div class="sidebar">
		<NavMenu />
		<Chat />
	</div>

	<main>
		<AlertsComponent />
		@if (State.ConnectionState != LiveConnectionState.Connected)
		{
			<div class="oi oi-clock">
				@State.ConnectionState
			</div>
		}
		<div class="content px-4">
			@Body
		</div>
	</main>
</div>

@code
{
	protected override void OnInitialized()
	{
		State.OnConnectedStateChanged += StateHasChanged;
		base.OnInitialized();
	}
}