@using TeamBuilder_Website.Services
@inject AppState State

<div class="top-row ps-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">TeamBuilder</a><span class="@LinkIconCssClass"></span>
    <div style="font-size: smaller; color: white">Build @Program.Build</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        @if (!State.IsLoggedIn)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-people" aria-hidden="true"></span> Teams
            </NavLink>
        </li>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private string LinkIconCssClass => (State.ConnectionState == LiveConnectionState.Connected ? "navbar-brand oi oi-link-intact" : "navbar-brand oi oi-link-broken");

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override Task OnInitializedAsync()
    {
        State.OnLoginStateChanged += StateHasChanged;
        State.OnConnectedStateChanged += StateHasChanged;
        return base.OnInitializedAsync();
    }

}
